.card {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 20px;
}

form{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 20px;
}

h1{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 30px;
}

body{
  background-color: lightcyan;
}